#joke,
#messageDisplay,
#motivationMessage,
#messageDisplayShort,
.tooltip,
#btn,
#dadjoke,
button {
  font-family: Arial, sans-serif, oblique;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 50px auto;
  width: 80%;
  background-color: #dde1e7;
  border-radius: 10px;
  box-shadow: 2px 2px 9px #ffffff, -4px -4px 5px rgba(94, 104, 121, 0.945);
}
#joke:hover,
#dadjoke:hover,
#messageDisplay:hover,
#motivationMessage:hover,
#messageDisplayShort:hover,
.tooltip:hover,
#btn:hover,
button:hover {
  font-family: Arial, sans-serif, oblique;
  font-size: 18px;
  padding: 20px;

  text-align: center;
  margin: 50px auto;
  width: 80%;
  background-color: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 9px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
/*
#btn {
  font-family: Arial, sans-serif, oblique;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 50px auto;
  width: 80%;
}
*/
body {
  background-color: #dde1e7;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.dark-mode {
  background-color: black;
  color: white;
}

button {
  font-family: Arial, sans-serif, oblique;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 50px auto;
  width: 20%;
  border-radius: 6px;
}

button:hover {
  font-family: Arial, sans-serif, oblique;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 50px auto;
  width: 20%;
  border-radius: 6px;
  box-shadow: -3px -3px 9px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
